.cache

# in case we run install guide from the docs repo
kpt

# ignoring private dir
private/

# ignore build dir
site
tmp
tools/
build/
*.log
catalog/
nok-kpt/
nok-clabs/
.env
.envrc

# SROS Licenses 
srsim-lic-25.txt

# Some wide used license files
*.lic
*.license

# Log files
*.log

# Python
.venv/
